html {
    background-color: rgb(241, 238, 235);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.title {
    margin-bottom: 40px;
    font-size: 22px;
    color: rgb(59, 58, 56);
}

.content {
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
    gap: 64px;
}

.menu {
    width: 300px;
    min-width: 300px;
    display: flex;
    flex: 1 2 auto;
    flex-direction: column;
    justify-content: flex-start;

    padding-top: 56px;
    font-size: 30px;
    color: rgb(59, 58, 56);
}

.boundary {
    padding: 40px;
}

.menu , .boundary {
    border: black solid 4px;
    border-radius: 1em;
    border-color: rgba(182, 177, 170, 0.3);
}

form {
    display: flex;
    flex-direction: column;
    gap: 42px;
}

#size {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.options {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.options button {
    font-size: 24px;
    width: 200px;
    padding: 4px;
    height: auto;

    color: rgb(82, 81, 79);
    background-color: rgb(185, 183, 174);
    border-radius: 0.3em;
    border: rgb(151, 146, 139) solid 1px;
}

.options button:hover {
    color: rgb(241, 238, 235);
    background-color: rgb(97, 168, 103);
}

.options .reset:active {
    background-color: rgb(64, 124, 69);
    box-shadow: 0 2px rgb(185, 183, 174);
    transform: translateY(2px);
}

input {
    display: flex;
}

label {
    display: flex;
    flex: 0 0 auto;
    justify-content: right;
    width: 125px;
}

.grid {

    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    width: 550px;
    height: 550px;
    
    border: rgba(156, 154, 151, 0.5) solid 2px;
    background-color: white;
}

.row {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
}

.col {
    flex: 1 1 auto;
}

.sub_title {
    font-size: 28px;
}

.grid_size {
    font-size: 24px;
}

#color {
    width: 120px;
    height: 60px;
    padding: 4px;

    background-color: rgb(255, 252, 248);
    border: rgba(156, 154, 151, 0.3) solid 2px;
}

#active {
    color: rgb(241, 238, 235);
    background-color: rgb(64, 124, 69);
}