
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.title {
    margin-bottom: 40px;
    font-size: 22px;
}

.content {
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
    gap: 64px;
}

.menu {
    width: 300px;
    min-width: 300px;
    display: flex;
    flex: 1 2 auto;
    flex-direction: column;
    justify-content: center;

    border: black solid 0.5px;
    font-size: 30px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 42px;
}

#options , #size {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#options button {
    font-size: 24px;
    width: 150px;
}

input {
    display: flex;
}

label {
    display: flex;
    flex: 0 0 auto;
    justify-content: right;
    width: 125px;
    a
}

.grid {

    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    width: 550px;
    height: 550px;
}

.row , .col {
    border: black solid 0.5px;
}

.row {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
}

.col {
    flex: 1 1 auto;
}
